 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
           
            background-color: #333;
            color: #ffff;
            line-height: 1.6;
        }

        header {
            text-align: center;
            color:#ffff;
            padding: 1rem 2rem;
        }
        
        header .logo {
            font-size: 1.5rem;
            font-weight: bold;
            
        }

        header .logo h4{
            color:#D4AF37;

        }
        .hero {
            text-align: center;
            padding: 3rem 1rem;
           
        }

        .hero h1 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .hero p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            color:#D4AF37;
        }

        .cta-btn {
            background-color: #a9a9a9;
            color: #333;
            padding: 0.8rem 1.5rem;
            font-size: 1.2rem;
            text-decoration: none;
            border-radius: 10px;

        }

         .cta-btn:hover {
            background-color:#D4AF37;
            color:#fff;
        }

        footer {
            text-align: center;
            padding: 1rem;
            background-color: #a9a9a9;
            color:#333;
            margin-top: 2rem;
        }
